files:
  "C:\\Scripts\\JoinDomain.ps1":
    content: |
      Import-Module AWSPowerShell
      Start-transcript -Path C:\\JoinDomain-Transcript.txt -Force
      $instanceId = Invoke-RestMethod -uri http://169.254.169.254/latest/meta-data/instance-id
      $availabilityZone = Invoke-RestMethod -uri http://169.254.169.254/latest/meta-data/placement/availability-zone
      $region = $AvailabilityZone.Substring(0, $availabilityZone.Length - 1)
      Set-DefaultAWSRegion $region

      Try
      {
        New-SSMAssociation -InstanceId $instanceId -Name "test-stack-SsmDocument-1188P72IXDE04"
      }
      Catch
      {
        $errorMessage = $_.Exception.Message
        "Exception: $errorMessage"
      }
      Stop-transcript

container_commands:
  01-join-domain:
    command: powershell.exe -ExecutionPolicy Bypass -File C:\\Scripts\\JoinDomain.ps1
    ignoreErrors: true
    waitAfterCompletion: 5
