files:
  "C:\\Scripts\\Utils.ps1":
    content: |
      function RenameComputer($ComputerName)
      {
        Remove-ItemProperty -path "HKLM:\SYSTEM\CurrentControlSet\Services\Tcpip\Parameters" -name "Hostname" 
        Remove-ItemProperty -path "HKLM:\SYSTEM\CurrentControlSet\Services\Tcpip\Parameters" -name "NV Hostname" 
        
        New-PSDrive -name HKU -PSProvider "Registry" -Root "HKEY_USERS"
        
        Set-ItemProperty -path "HKLM:\SYSTEM\CurrentControlSet\Control\Computername\Computername" -name "Computername" -value $ComputerName
        Set-ItemProperty -path "HKLM:\SYSTEM\CurrentControlSet\Control\Computername\ActiveComputername" -name "Computername" -value $ComputerName
        Set-ItemProperty -path "HKLM:\SYSTEM\CurrentControlSet\Services\Tcpip\Parameters" -name "Hostname" -value $ComputerName
        Set-ItemProperty -path "HKLM:\SYSTEM\CurrentControlSet\Services\Tcpip\Parameters" -name "NV Hostname" -value  $ComputerName
        Set-ItemProperty -path "HKLM:\SOFTWARE\Microsoft\Windows NT\CurrentVersion\Winlogon" -name "AltDefaultDomainName" -value $ComputerName
        Set-ItemProperty -path "HKLM:\SOFTWARE\Microsoft\Windows NT\CurrentVersion\Winlogon" -name "DefaultDomainName" -value $ComputerName
        #Set-ItemProperty -path "HKU:\.Default\Software\Microsoft\Windows Media\WMSDK\General" -name "Computername" -value $ComputerName
      }
      
  "C:\\Scripts\\JoinDomain.ps1":
    content: |
      Import-Module AWSPowerShell
      . .\\Utils.ps1
      Start-transcript -Path C:\\Transcript.txt -Force
      $instanceId = Invoke-RestMethod -uri http://169.254.169.254/latest/meta-data/instance-id
      $availabilityZone = Invoke-RestMethod -uri http://169.254.169.254/latest/meta-data/placement/availability-zone
      $region = $AvailabilityZone.Substring(0, $availabilityZone.Length - 1)
      Set-DefaultAWSRegion $region
      Try
      {
        RenameComputer $instanceId
      }
      Catch
      {
        $errorMessage = $_.Exception.Message
        Write-Host "Exception: $errorMessage"
      }
      
      Try
      {
        New-SSMAssociation -InstanceId $instanceId -Name "your ssm document name"
      }
      Catch
      {
        $errorMessage = $_.Exception.Message
        Write-Host "Exception: $errorMessage"
      }
      Stop-transcript

container_commands:
  01-join-domain:
    command: powershell.exe -ExecutionPolicy Bypass -File C:\\Scripts\\JoinDomain.ps1
    ignoreErrors: true
    waitAfterCompletion: 5
