commands:
  01-install-windows-auth:
    command: powershell.exe -ExecutionPolicy Bypass "Add-WindowsFeature Web-Security,Web-Windows-Auth"
    ignoreErrors: true
    waitAfterCompletion: 5
  02-enable-iis-windows-auth:
    command: powershell.exe -ExecutionPolicy Bypass "Set-WebConfigurationProperty -Filter '/system.webServer/security/authentication/windowsAuthentication' -Name Enabled -Value True -PSPath 'IIS:\' -Location 'Default Web Site'"
    ignoreErrors: true
    waitAfterCompletion: 5
